<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Name of sponsor:</strong>
  <%= @event.name_of_sponsor %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Contest:</strong>
  <%= @event.contest.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-default" %> |
<a href= "/organizer" class = "btn btn-default">Back </a>
