  <center><h1><b> Administracion de Cuentas </b></h1></center> 
<a href= "/users/create_user" class="btn btn-success active"><b>Crear Cuenta</b></a>

<h1><b>Cuentas</b></h1>
      <table class="table table-striped"><thead>
          <tr class="info">
       
          <td><b>Email</b></td>
          <th></th>
          <td><b>Rol</b></td>
          <td><b>Creado</b></td>
          <td></td>
          <td><b>Asignar Rol</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td><b align ="center">Opciones</b></td>

            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
          <% @users.each do |user| %>
          <tr>
            <%@a = Rol.find(user.rol_id)%>
              <td><%= user.email %></td> 
              <td></td>
              <td><%= @a.name%></td> 
              <td><%= user.created_at %></td>

            <% if user.rol_id == 1 %>
              <td><h5><a href= "<%=role_jefe_path(user.id) %>"class="btn btn-info"><b>Jefe</b></h5></a></td>  
              <td><h5><a href= "<%=role_miembro_path(user.id) %>"class="btn btn-default"><b>Miembro</b></h5></a></td> 
              <td><h5><a href= "<%=role_organizador_path(user.id) %>"class="btn btn-primary"><b>Organizador</b></h5></a></td>  
            <%end%>

            <% if user.rol_id == nil %> 
              <td><h5><a href= "<%=role_jefe_path(user.id) %>"class="btn btn-info"><b>Jefe</b></h5></a></td>  
              <td><h5><a href= "<%=role_miembro_path(user.id) %>"class="btn btn-default"><b>Miembro</b></h5></a></td> 
              <td><h5><a href= "<%=role_organizador_path(user.id) %>"class="btn btn-primary"><b>Organizador</b></h5></a></td>  
            <%end%>

            <% if user.rol_id == 2 %>
              <td><h5><a disabled href= "<%=role_jefe_path(user.id) %>"class="btn btn-info"><b>Jefe</b></h5></a></td>  
              <td><h5><a href= "<%=role_miembro_path(user.id) %>"class="btn btn-default"><b>Miembro</b></h5></a></td> 
              <td><h5><a href= "<%=role_organizador_path(user.id) %>"class="btn btn-primary"><b>Organizador</b></h5></a></td>  
            <%end%>
            <% if user.rol_id == 3%>
              <td><h5><a href= "<%=role_jefe_path(user.id) %>"class="btn btn-info"><b>Jefe</b></h5></a></td>  
              <td><h5><a disabled href= "<%=role_miembro_path(user.id) %>"class="btn btn-default"><b>Miembro</b></h5></a></td> 
              <td><h5><a href= "<%=role_organizador_path(user.id) %>"class="btn btn-primary"><b>Organizador</b></h5></a></td>  
            <%end%>
            <% if user.rol_id == 4%> 
              <td><h5><a href= "<%=role_jefe_path(user.id) %>"class="btn btn-info"><b>Jefe</b></h5></a></td>  
              <td><h5><a href= "<%=role_miembro_path(user.id) %>"class="btn btn-default"><b>Miembro</b></h5></a></td> 
              <td><h5><a disabled href= "<%=role_organizador_path(user.id) %>"class="btn btn-primary"><b>Organizador</b></h5></a></td>  
            <%end%>
              <td></td>
              <td></td> 
              <td><h5><a href= "/users/remove/<%=user.id%>" class="btn btn-danger"><b>Eliminar</b></h5></a></td>
              <td><h5><a href= "/users/edit_user/<%=user.id%>" class="btn btn-warning"><b>Editar</b></h5></a></td>  
            </tr>
          <% end %>
        </tbody>
      </table>